//**************************************************************
//                          VARİABLES
//**************************************************************

//COLORS
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #eee;

//FONT
$font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

//image-url

$image-url: "../../img/model-1.jpg";
