@import "./base/reset";

@import "./abstracts/mixins", "./abstracts/variables";

@import "./components/footer", "./components/nav", "./components/responsive";

@import "./pages/about", "./pages/contacts", "./pages/home", "./pages/projects";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  color: white;
  background-color: rgb(14, 13, 13);
  height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 400;
}
