.contact-bgImg-container {
  background-image: url(/img/model-1.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  nav {
    height: 40vh;
  }
}

.contact {
  height: 40vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-size: 1.5rem;
  }
}
